/* src/components/css/Prices.css */
.prices {
    background-color: #F2E3D1; /* Cor de fundo consistente */
    padding: 2rem 1rem;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.prices h2 {
    color: #2E3191; /* Cor azul do evento */
    font-size: 2rem;
    margin-bottom: 1rem;
}

.prices p {
    font-size: 1.2rem;
    color: #555;
    font-family: 'Inter', sans-serif; /* Fonte principal */
}

.deadline {
    margin-bottom: 2rem;
    font-weight: bold;
    color: #E55041; /* Cor de destaque */
}

.price-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ajuste para centralizar os cards */
    gap: 1rem; /* Reduzido de 1.5rem para 1rem para aproximar os cards */
}

.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 1.5rem;
    text-align: center;
    width: 250px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border: 1px solid #e0e0e0;
}

.card.selected {
    border: 2px solid #E55041;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.card h3 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-family: 'Source Serif 4', serif; /* Fonte secundária */
}

.card .price {
    font-size: 2.5rem;
    color: #E55041;
    margin: 1rem 0;
    font-family: 'Source Serif 4', serif; /* Fonte secundária */
}

.card p {
    font-size: 1rem;
    color: #666;
    font-family: 'Inter', sans-serif; /* Fonte principal */
}

.card .note {
    font-size: 0.9rem;
    color: #999;
}

.btn {
    background-color: #2E3191;
    color: #fff;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Inter', sans-serif; /* Fonte principal */
}

.btn:hover {
    background-color: #1E226D;
    transform: scale(1.05);
}

/* Responsividade */
@media (min-width: 768px) {
    .price-cards {
        justify-content: center;
        gap: 0.5rem; /* Menor espaçamento entre os cards */
    }
}
